body{
    background-color: black;
}
#gallery{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80.4%;
}
.images{
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    display: block;
    position: relative;
    object-fit: contain;
}
.images:hover{
    box-shadow: rgba(255, 255, 255, 0.8) 0 0 90px 33px;
}
#one{
    bottom: 400px;
    right: 100px;
    width:10%;
}