body{
    background-color: black;
}
#gallery{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80.4%;
}
.images{
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    display: block;

}

#one{
    position: relative;
    bottom: 1000pt;
    left: 1000pt;
    width:15%;
}
#one:hover{
    box-shadow: rgba(255, 255, 255, 0.8) 0 0 30px 33px;
}
#two{
    width:15%;
}
#three{
    width:15%;
}
#four{
    width:15%;
}
#five{
    width:15%;
}
#six{
    width:15%;
}
#seven{
    width:15%;
}