body{
    background-color: #6FB6FE; 
}
#outside{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 79.8%;
}

#arrow_1{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/d6/Feather-arrows-arrow-up.svg/2048px-Feather-arrows-arrow-up.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    display: block;
    text-align: center;
    position: relative;
    height: 50pt;
}
#arrow_1:hover{
    opacity: .5;
}