body{
    background-color: blue; 
}
#outside{
    position: relative;
    width: 79.5%;
    margin: auto;
}
#outside_box{
    position: relative;
    margin: auto;
}
}
#arrow_1{
    position: relative;
    width: 30%;
}
#arrow_1:hover{
    opacity: 0;
}