body{
    background-color: greenyellow;
}
#outside{
    width: 75%;
    margin: auto;
}
#arrow_1{
    position: relative;
    width: 30%;
}
#arrow_1:hover{
    opacity: 0;
}
div{
    position: relative;
}